/**
 * Piano 
 */

@layer components {
    :where(:root) {
        --key路background: light-dark(var(--colorneutral-000), var(--colorneutral-200));
        --key路block-size: 12.5rem;
        --key路border: light-dark(var(--colorneutral-300), var(--colorneutral-200));
        --key路color: light-dark(var(--colorneutral-600), var(--colorneutral-800));
        --key路font-size: .875rem;
        --key路inline-size: 4rem;
    }

    :where(.piano) {
        display: flex;
            gap: 4px;
        position: relative;
    }

    :where(.key) {
        background: var(--key路background);
        block-size: var(--key路block-size);
        border-radius: 0 0 .5rem .5rem;
        border: 1px solid var(--key路border);
        color: var(--key路color);
        cursor: pointer;
        display: flex;
            align-items: flex-end;
            justify-content: center;
        font-size: var(--key路font-size);
        font-weight: 500;
        inline-size: var(--key路inline-size);
        padding-bottom: 1rem;
        user-select: none;
    }

    :where(.key).is-black {
        --key路background: linear-gradient(
            to bottom, var(--colorneutral-800) 0%, var(--colorneutral-950) 100%
        );
        --key路block-size: 8.125rem;
        --key路color: light-dark(var(--colorneutral-400), var(--colorneutral-300));
        --key路font-size: .75rem;
        --key路inline-size: 2.5rem;

        border: none;
        margin-inline-start: -1.375rem;
        margin-inline-end: -1.375rem;

        z-index: 1;
    }
}